* {
  font-family: 'Space Mono', monospace;
}

body {
  background-color: #F2F3F4
}

a {
  text-decoration: none
}

.intro-header {
  margin-top: 3rem
}

.about {
  padding-top: 20px;
}

.footer {
  margin-top: 100px;
  bottom: 0;
  font-size: 0.75rem
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem
  }
  h2 {
    font-size: 1.75rem
  }
  h3 {
    font-size: 1.5rem
  }
}